#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30fr 70fr;
    grid-template-rows: 7fr 93fr;
    grid-template-areas:
        "nav nav"
        "side-menu main"
        "side-menu main";
    gap: 5px;
}
.main {
    grid-area: main;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.nav {
    grid-area: nav;
    width: 100%;
    height: 100%;
}

.side-menu {
    grid-area: side-menu;
    width: 100%;
    height: 100%;
}
